h4 {
    color: whitesmoke;
}
.myLinks {
    color: whitesmoke;
    font-size: 30px;
    padding: 10px;
}

.footer {
    background: linear-gradient(270deg, #235891, #3d86d4, #0e437a);
    background-size: 600% 600%;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    animation: AnimationName 8s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}